<a href="https://colab.research.google.com/github/Parthiban-Tmn/Python_Exercises/blob/master/square%20pattern%20using%20the%20number%20'1'.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a code to generate a square pattern using the number '1'.

Input Description:
Given an integer R indicates number of rows.

Where 1<=R<=100.

Output Description:
Print the square pattern with the number '1' in R*R form based on the given integer R.

Sample Input :
5


Sample Output :
11111
11111
11111
11111
11111

In [1]:
n=int(input())
for i in range(n):
    for i in range(n):
        print(1,end="")
    print()

5
11111
11111
11111
11111
11111